html{
    width:100vw;
    height:100vh;
}
body{
    margin:0px 0px;
    min-height: 100vh;
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
}
button{
    padding:1em 2em;
    border:none;
    border-radius:1000px;
    background-color:rgb(20, 20, 20);
    color:white;
    position:relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
}
button::before{
    content:'';
    background-image:linear-gradient(to bottom right, rgb(110, 8, 245),rgb(183, 0, 255));
    position:absolute;
    width: 102%;
    height:107%;
    border-radius:1000px;
    z-index: -1;
    animation-name: gradient;
    animation-timing-function:steps(10000);
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: alternate-reverse;
}
button:hover{
    z-index: 0;
    box-shadow: -50px 0px 100px rgba(255, 0, 221, 0.762), 50px 0px 100px rgba(0, 0, 255, 0.741);
}
button:active{
    z-index: 0;
    box-shadow: -50px 0px 100px rgba(255, 0, 221, 0.762), 50px 0px 100px rgba(0, 0, 255, 0.741);
}
@keyframes gradient{
    0%{
        background-image:linear-gradient(to bottom right,rgb(0, 0, 255),rgb(255, 0, 221));
    }
    50%{
        background-image:linear-gradient(to bottom right,rgb(183, 1, 255), rgb(47, 0, 255) );
    }
    100%{
        background-image: linear-gradient(to bottom right, rgb(255, 0, 221), blue);
    }

}
